@import url("bootstrap.min.css");

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

#logIn-submit {
    border-radius: 20px;
    background-color: #2e8041;
    border-color: white;
    color: white;
}

#space{
    height: 100%;
}

#topBanner {
    background-color: #2e8041;
    height: 40%;
}

#form-container {
    background-color: white;
    top: 15%;
    left: 25%;
    width: 50%;
    position: absolute;
    border: 1px solid silver;
    border-radius: 5%;
}

#logInform{
    padding: 10%;
}