@import url("bootstrap.min.css");


#editProfileSubmit{
    border-radius: 10px;
    background-color: #2e8041;
    border-color: white;
    color: white;
}

#profileInformation{
    background-color: #2e8041;
    color: white;
}